.panelGrids{ 
	border:1px solid black; 
}

.temp_body {
	background-image: url("../resources/images/airport-background.jpg"); 
	background-size: cover;
    background-attachment: fixed;	
    font-family:Verdana;
}	

.temp_content {
	border:2px solid black; 
	padding:30px; 
    background: rgba(240,240,240,0.95);
}

.top_bar {
    top:0;
    display:flex;
    justify-content:space-between; 
    background: rgba(76, 175, 80, 0.85);
    list-style-type:none;
    margin: -20px -20px 20px -20px;    
	padding:30px; 
	height:4vw;
}

#logo_img {
	width:7vw;
    margin: -10px 0px 20px -10px;    	
}
